@font-face {
    font-family: "Tuesday night";
    src: url('./TuesdayNight-Regular.otf');
 }
  
@font-face {
  font-family: 'Julius Sans';
  src: url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Alegreya+Sans:300|Playfair+Display+SC:400,400i');
}

@font-face {
  font-family: "Beau";
  src: url('./beau.ttf');
}